# Stock Exhange Analysis

## Introduction
Data retrieved from https://www.kaggle.com/mattiuzc/stock-exchange-data, originally sourced from Yahoo Finance.

## Pre EDA Thoughts
- ML model would be some sort of regression and prediction model for the future, would be fun to compare predicted future outputs with actual results. As of writing this, the data is reported week-daily and goes up to May of 2021, which leaves three months to predict. 

- Could be interesting to test some sort of classification ML model, to predict if a value would fall under a specific index. Considering the varying stock values due to differing currencies, it may not be too difficult, but testing specifically under the indexes of the same currency or testing amongst all indexes on a normalized currency might be worth trying out.

- I am wary of creating a universally adjust currency unit due to the independently changing fluctuation by inflation that each of these currencies have. I am not sure it would be a helpful idea to adjust the Japanese Yen to an equal amount of USD unless I am going to compare the conversion rate on each individual day across each currency. For example, in July of 1998 1 USD == 144 JPY while in August of 2011 it was 1 USD == 76 JPY.
    - Perhaps normalizing the numbers could be helpful, at least in comparing how international markets would rise and fall together. 
    
- Will begin by cleaning data where needed, performing some EDA broken down by index, and some basic visualizations while brainstorming further advanced visualizations. 

- Not sure what to do with the Volume column of the dataframe, hopefully will feel inspiration later.
    

## Data

## Scope

## Conclusion

In [4]:
### Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
### Importing CSV file
stock_info_df = pd.read_csv("indexInfo.csv")
stock_df_original = pd.read_csv("indexData.csv")
df_columns_adjusted = stock_df_original
df_columns_adjusted.columns = ["index_name", "date", "open", "high", "low", "close", "adj_close", "volume"]

In [89]:
### Beginning with overarching information about the entire dataframe

print("Different Stock Indexes Represented:")
print(df_columns_adjusted.index_name.unique().tolist())
print("\n")

print("Different Countries Represented:")
print(stock_info_df["Region"].unique().tolist())
print("\n")

print("Information Across all Indexes (Entire Dataframe): ")
### CREATE A DF LIKE BELOW, BUT PLEASE FIND A WAY TO MAKE THIS MORE CLEAN
print("\n")


### Then, I moved on to explaining the index and creating min, max df's for each index... should add other relevant information like 
### mean, range, etc.

stock_index_list = df_columns_adjusted.index_name.unique().tolist()
for stock_index in stock_index_list:
    
    temp_EDA_df = df_columns_adjusted[df_columns_adjusted.index_name == stock_index]
    temp_EDA_df.drop('index_name', inplace=True, axis=1)
    
    print("---", stock_index, "---")
    print("Full Name: ", stock_info_df.loc[stock_info_df["Index"] == stock_index]["Exchange"].item())
    print("Region: ", stock_info_df.loc[stock_info_df["Index"] == stock_index]["Region"].item())
    print("Currency: ", stock_info_df.loc[stock_info_df["Index"] == stock_index]["Currency"].item())
    print("\n")
    
    temp_EDA_df_columns = temp_EDA_df.columns.tolist()
    max_list = []
    min_list = []
    for column in temp_EDA_df_columns:
        max_list.append(max(temp_EDA_df[column]))
        min_list.append(min(temp_EDA_df[column]))
    min_max_df = pd.DataFrame(columns=temp_EDA_df_columns, index=("min", "max"), data = [min_list, max_list])
    print(min_max_df)


    print("\n")

Different Stock Indexes Represented:
['NYA', 'IXIC', 'HSI', '000001.SS', 'GSPTSE', '399001.SZ', 'NSEI', 'GDAXI', 'KS11', 'SSMI', 'TWII', 'J203.JO', 'N225', 'N100']


Different Countries Represented:
['United States', 'Hong Kong', 'China', 'Japan', 'Europe', 'Canada', 'India', 'Germany', 'Korea', 'Switzerland', 'Taiwan', 'South Africa']


Information Across all Indexes (Entire Dataframe):


--- NYA ---
Full Name:  New York Stock Exchange
Region:  United States
Currency:  USD


           date          open          high           low         close  \
min  1965-12-31    347.769989    347.769989    347.769989    347.769989
max  2021-05-28  16590.429690  16685.890630  16531.949220  16590.429690

        adj_close        volume
min    347.769989  0.000000e+00
max  16590.429690  1.145623e+10


--- IXIC ---
Full Name:  NASDAQ
Region:  United States
Currency:  USD


           date          open          high           low         close  \
min  1971-02-05     54.869999     54.869999     54.869999     54.869999
max  2021-05-28  14204.509770  14211.570310  14064.280270  14138.780270

        adj_close        volume
min     54.869999  0.000000e+00
max  14138.780270  1.110216e+10


--- HSI ---
Full Name:  Hong Kong Stock Exchange
Region:  Hong Kong
Currency:  HKD


           date         open         high           low         close  \
min  1986-12-31   1950.50000   1950.50000   1894.900024   1894.900024
max  2021-05-31  33335.48047  33484.07813  32897.039060  33154.121090

        adj_close        volume
min   1894.900024  0.000000e+00
max  33154.121090  9.799120e+09


--- 000001.SS ---
Full Name:  Shanghai Stock Exchange
Region:  China
Currency:  CNY


           date         open         high          low        close  \
min  1997-07-02  1007.901001  1019.921997   998.228027  1011.499023
max  2021-05-31  6057.428223  6124.043945  6040.712891  6092.057129

       adj_close      volume
min  1011.499023         0.0
max  6092.057129  10065200.0


--- GSPTSE ---
Full Name:  Toronto Stock Exchange
Region:  Canada
Currency:  CAD


           date         open         high           low         close  \
min  1979-06-29   1352.00000   1352.00000   1332.199951   1346.400024
max  2021-05-31  19905.80078  19909.59961  19841.000000  19852.199220

        adj_close        volume
min   1342.980957  0.000000e+00
max  19852.199220  9.440374e+10


--- 399001.SZ ---
Full Name:  Shenzhen Stock Exchange
Region:  China
Currency:  CNY


           date         open         high           low         close  \
min  1997-08-22   2533.27002   2586.02002   2521.080078   2534.719971
max  2021-06-02  19554.58008  19600.02930  19203.109380  19531.150390

       adj_close     volume
min   2534.69165        0.0
max  19530.93164  3635400.0


--- NSEI ---
Full Name:  National Stock Exchange of India
Region:  India
Currency:  INR


           date          open          high       low         close  \
min  2007-09-17   2553.600098   2585.300049   2252.75   2524.199951
max  2021-05-31  15437.750000  15606.349610  15394.75  15582.799810

        adj_close     volume
min   2524.199951        0.0
max  15582.799810  1811000.0


--- GDAXI ---
Full Name:  Frankfurt Stock Exchange
Region:  Germany
Currency:  EUR


           date         open         high          low        close  \
min  1987-12-30    936.00000    936.00000    936.00000    936.00000
max  2021-05-31  15548.29004  15568.59961  15465.08984  15519.98047

       adj_close       volume
min    936.00000          0.0
max  15519.98047  510195600.0

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

--- KS11 ---
Full Name:  Korea Exchange
Region:  Korea
Currency:  KRW


           date         open        high          low        close  \
min  1996-12-11   283.410004   291.01001   277.369995   280.000000
max  2021-06-01  3239.919922  3266.22998  3203.250000  3249.300049

       adj_close     volume
min   280.000000     3016.0
max  3249.300049  3455500.0


--- SSMI ---
Full Name:  SIX Swiss Exchange
Region:  Switzerland
Currency:  CHF


           date          open          high       low         close  \
min  1990-11-09   1288.699951   1296.599976   1279.00   1287.599976
max  2021-05-31  11345.400390  11443.969730  11326.75  11426.150390

        adj_close       volume
min   1287.599976          0.0
max  11426.150390  346767700.0


--- TWII ---
Full Name:  Taiwan Stock Exchange
Region:  Taiwan
Currency:  TWD


           date          open          high           low        close  \
min  1997-07-02   3475.870117   3511.379883   3411.679932   3446.26001
max  2021-05-31  17646.929690  17709.230470  17548.300780  17595.90039

       adj_close      volume
min   3446.24707         0.0
max  17595.90039  14999500.0


--- J203.JO ---
Full Name:  Johannesburg Stock Exchange
Region:  South Africa
Currency:  ZAR


           date         open         high          low        close  \
min  2012-02-08  32887.44922  33160.37109  32730.91992  32887.44922
max  2021-05-31  68775.06250  69403.75000  68516.99219  68775.06250

       adj_close  volume
min  32887.44922     0.0
max  68775.06250     0.0


--- N225 ---
Full Name:  Tokyo Stock Exchange
Region:  Japan
Currency:  JPY


           date         open         high          low        close  \
min  1965-01-05   1020.48999   1020.48999   1020.48999   1020.48999
max  2021-06-03  38921.64844  38957.44141  38827.71094  38915.87109

       adj_close       volume
min   1020.48999          0.0
max  38915.87109  595200000.0


--- N100 ---
Full Name:  Euronext
Region:  Europe
Currency:  EUR


           date         open         high         low        close  \
min  1999-12-31   427.600006   436.519989   419.48999   419.950012
max  2021-06-02  1258.489990  1265.660034  1258.23999  1263.619995

       adj_close        volume
min   419.950012  0.000000e+00
max  1263.619995  1.159639e+09

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [10]:
df_columns_adjusted

,index_name,date,open,high,low,close,adj_close,volume
0,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0